<section class="container">

    <div class="heading">
    <div>Welcome</div>
      <h1 class="text-center">General Shopping List</h1>
    </div>

    <div class="d-flex justify-content-between mt-5">
      <p class="fs-4">Amount of food items to buy: <%=@food_count%></p>
      <p class="fs-4">Total value of food needed: $<%=@total%></p>
    </div>

    <div class="table mt-4">
      <table class="table table-bordered">
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>

        <% @recipe_foods.each do |recipe_food| %>
          <% if @foods.include?(recipe_food.food)%>
            <tr>
              <td><%=recipe_food.food.name%></td>
              <td><%=Food.find(recipe_food.food_id).measurement_unit%></td>
              <td> $<%=recipe_food.food.price * recipe_food.quantity%></td>
            </tr>
          <%end%>
        <%end%>
      </table>
    </div>
  </section>