<div id="<%= dom_id recipe %>" class="container">
 <div id="recipe-details-page"> 
  <div class="spaced-container">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>
  </div>

<div class="spaced-container">
  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>
  </div>

<div class="spaced-container">
  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>
  </div>

<div class="spaced-container">
  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>
  </div>

<div class="spaced-container">
  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>
  </div>
  <%= link_to "Destroy this recipe", @recipe, method: :delete, class: "btn btn-danger" %>
</div>
</div>
